/* F7F1E0 background-color */
body {
  margin: 0;
  padding: 0;
  background-color: #f7f1e0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}

/* producformin styles */
.product-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.product-form-indent {
  margin-left: 0.5em;
}

.product-form-content h3 {
  margin-bottom: 2em;
}

/* headerin styles */
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* headerin styles */
.header-img {
  border-radius: 50%;
  margin: 30px;
  border: 4px solid black;
  height: auto;
  width: 8%;
  min-width: 100px;
}

.product-select-label,
.quantity-select-p {
  padding-right: 1em;
  font-weight: bold;
}

.product-select {
  padding: 0.5em;
  max-width: 400px;
  padding-right: 15em;
}

/* select quantity styles */
.quantity-select-row {
  display: flex;
  margin-top: 1em;
  margin-bottom: 2em;
}

.button-row {
  display: flex;
}

.quantity-button {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border-width: thin;
  font-weight: bolder;
  font-size: medium;
  margin: 0.5em;
}

/* orderinfo styles */
.orderinfo-table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #d5d9bb;
}

.orderinfo-table th,
.orderinfo-table td {
  padding: 1.2em;
  text-align: left;
  border: 1px solid black;
}

/* isoilla näytöillä sisennys suurempi */
@media (min-width: 768px) {
  .product-form-indent {
    margin-left: 2em; /* Vähennetään marginaalia pienillä näytöillä */
  }
}