.navigationBar a {
  color: #65665f;
  text-decoration: none;
  padding: 20px;
  transition: 0.3s;
}

.navigationBar a:hover {
  color: black;
  text-decoration: underline;
}

.app-content {
  padding: 20px;
}
