/* F7F1E0 background-color */
body {
  margin: 0;
  padding: 0;
  background-color: #f7f1e0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}

/* headerin stylet */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* headerin stylet */
.header-img {
  border-radius: 50%;
  margin: 30px;
  border: 4px solid black;
  height: auto;
  width: 8%;
  min-width: 100px;
}

/* select product styles */
.product-select-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  flex-wrap: wrap;
}


.product-select-label,
.quantity-select-p {
  padding-right: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}

.product-select {
  padding: 0.5em;
  max-width: 400px;
  padding-right: 15em;
}

/* select quantity styles */
.quantity-select-row {
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
}

.button-row {
  display: flex;
}

.quantity-button {
  width: 35px;
  height: 35gitpx;
  border-radius: 5px;
  border-width: thin;
  font-weight: bolder;
  font-size: medium;
  margin: 0.5em;
}


/* orderinfo styles */
.orderinfo-table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  /* width: 450px; */
  height: auto;
  margin: 0 auto;
  background-color: #d5d9bb;
}

.orderinfo-table th, .orderinfo-table td {
  padding: 1.2em;
  text-align: left;
  border: 1px solid black;
}

/* mediaqueryt isolle näytölle */
@media (min-width: 768px) {
  .product-select-label {
    margin-bottom: 0;
  }
}